{{#if found}}
    {{#if canShow}}
        <div>Secret: {{password}}</div>
        <div>Créé le: {{createdAt}}</div>
        <div>{{viewsRemaining}} vue(s) restante(s)</div>
        <div>Expire le: {{maxDate}}</div>
    {{else}}
        Oops
    {{/if}}
{{else}}
No secret
{{/if}}